<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    table {
      width: 100%;
      border: 1px solid #444444;
    }
    th, td {
      border: 1px solid #444444;
    }
  </style>
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>아이디</th>
        <th>비밀번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.userId}"></td>
        <td th:text="${member.passwd}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>